body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* START NAVE BAR */
.sec1{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px ;
   
}
.sec1 >div >h1{
    border: 2px black solid;
    padding: 10px 20px;
    font-size: 20px;
    color: dimgray;
    display: 1;
}
#per{
    padding: 20px;
}
#per a{
    margin: 10px;
}
#per a:hover{
    margin: 10px;
    color:gray;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
#search{
    border: none;
}
.search{
    margin: 15px;
    padding: 5px;
}
.sec2{
    width: 100%;
    height: 60px;

}
.sec2 >div{
    /* position: absolute;
    left: 30%; */
    display: flex;
    justify-content: center;
}
.sec2 >div>a{
    margin-left: 20px;
    padding: 10px;
}

/* END NAVE BAR */

/* //////footer */

footer{
    padding: 10px;
}
#las{
    padding: 10px;
}
#las >div>span{
    margin:0px 10px;
}

.col-1{
    color: rgba(0, 140, 255, 0.493);
    font-size: 40px;
    
}

#sec6{
    padding: 15px;
    
    margin: 50px auto;
    
}
#im{
    padding: 30px;
}
#im>img{
    width: 500px;

    

    
}
#h{
   justify-content: center;
    margin: 30px auto;
}
#h>h1{
    font-size: 30px;
}
.card >img{
    height: 200px;
    width: 100%;

}
#hh{
   margin: 20px auto;
}
.card-body{
    text-align: center;
    margin: 20px;
}
.rr{
    color: rgb(0, 140, 255);
}
.r{
    color: gray;
}
